<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupEmpresas">
    <div class="mb-3">
      <label for="name" class="form-label">Nome: </label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">
      <label for="email" class="form-label">Email: </label>
      <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email da Empresa">
      <label for="endereco" class="form-label">Endereço: </label>
      <input type="text" formControlName="endereco" class="form-control" id="endereco" placeholder="Endereço da Empresa">
    </div>
    <div class="mb-3 d-flex justify-content-end">
      <button class="btn btn-primary"  (click)="cadastrar()">Salvar</button>


    </div>

  </form>
</div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Endereço</th>
      <th class="d-flex justify-content-end" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">
      <th scope="row">{{empresa.id}}</th>
      <td>{{empresa.name}}</td>
      <td>{{empresa.email}}</td>
     
    </tr>
  </tbody>
</table>
