
<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupEmpresas">
    <div class="mb-3">
      <label for="name" class="form-label">Nome: </label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">
      <label for="email" class="form-label">Email: </label>
      <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email da Empresa">
      <label for="endereco" class="form-label">Endereço: </label>
      <input type="text" formControlName="endereco" class="form-control" id="endereco" placeholder="Endereço da Empresa">
    </div>
    <div class="mb-3 d-flex justify-content-end">
      <button class="btn btn-primary"  (click)="cadastrar()">Salvar</button>


    </div>

  </form>
</div>

</div>

